body {
    margin: 0;
}
.wrap {
background: aqua;
}
.menu1 {
    height: 40px;
    background: #fad413;
}
.all {
    display: flex;
}
.sidemenu2 {
    width: 100px;
    height: 1900px;
    background: #a05f7a;
    z-index: 0;
}
.main {
display: flex;
    flex-direction: column;
}
.uppart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.slider3 {
    width: 100%;
    height: 300px;
    background: darkviolet;
}
.pictures {
    width: 1040px;
    height: 150px;
    background: darkgoldenrod;
}
.dowpart {
display: flex;
}
.articles5 {
    width: 850px;
    height: 1200px;
    background: crimson;
}
.links6 {
    width: 190px;
    height: 1200px;
    background: cadetblue;
}
.contactinfo7 {
    height: 200px;
    width: 1040px;
    background: black;
}